:root{
  --verde: #008B5B;
  --amarillo: #FBD72D;
  --rosa: #C12362;
  --azul: #01303E;
  --verde-2: #05F087;
  font-size: 10px;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
}

/*BOTONES*/
.btn,input[type=submit]{
  padding: 5px;
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
  text-align: center;
}

.btn:hover,input[type=submit]:hover{
  font-weight: bold;
  box-shadow: 1px 1px black;
  transition: all 0.2s;
}

/*HEADER*/
header{
  background-color: var(--verde);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--amarillo);
}

header p{
  color: var(--amarillo);
  font-weight: 800;
  font-size: 2rem;
  margin: 10px;
}

#hero{
  width:100%;
  display: flex;
  justify-content: center;
  background-color: var(--azul);
}

#hero-img{
  width: 80%;
}

h2{
  font-size: 3rem;
  margin-bottom: 30px;
}

section{
  padding: 50px 0;
}


/*ESTRENOS---------------------------------------*/
#estrenos{
  color: var(--verde-2);
}

.exhibicion{
  background-color:var(--rosa);
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  justify-content: center;
}

.manga{
  width: 20vw;
  margin: auto 10px;
}

.manga-cover,.manga-cover img{
  width: 20vw;
}

.manga,.manga-cover{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.manga-cover *{
  transition: all 0.2s;
}

.manga-hover{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  display:none;
  opacity: 0;
}

.manga-titulo{
  font-size: 2rem;
}

.manga-img:hover{
  box-shadow: 5px 5px black;
  cursor: pointer;
}

.price{
  font-size: 10rem;
  margin: 0;
  background-color: var(--rosa);
  padding: 10px;
  border-radius: 100%;
  margin: 5px;
}

.btn-carrito,.btn-compra,input[type=submit]{
  background-color: var(--verde-2);
  color: black;
  margin: 5px;
  font-size: 2rem;
  font-family: 'JetBrains Mono', monospace;
}

.btn-carrito:hover,.btn-compra:hover, input[type=submit]:hover{
  background-color: var(--amarillo);
}

.btn-info{
  background-color: var(--amarillo);
  color: black;
  font-size: 2rem;
}

.btn-info:hover{
  background-color: var(--verde-2);
}



.manga-container{
  display: flex;
  align-items:center;
}

#terminados{
  background-color:var(--azul);
  color: white;
}

/*CATEGORIAS*/

#categoria-title{
  background-color:var(--verde);
  color: var(--amarillo);
  text-align: center;
  padding-top: 50px;
  margin: 0;
}

#categorias{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--verde);
}

.categoria{
  text-decoration: none;
  font-size: 3rem;
  display: block;
  text-align: center;
  padding: 45px;
  cursor: pointer;
}

.categoria:hover{
  font-weight: 900;
  transition: all 0.5s;
  box-shadow: inset 0 0 0 13px black;
}

#shonen,.shonen{
  background-color: var(--amarillo);
  color: black;
}

#seinen,.seinen{
  background-color: var(--azul);
  color: white;
}

#yaoi,.yaoi{
  background-color: var(--verde-2);
  color: black;
}

#shojo,.shojo{
  background-color: var(--rosa);
  color: white;
}

#serie,.serie,#tomo:hover{
  color: black;
  background-color: white;
}

#tomo,.tomo,#serie:hover{
  background-color: black;
  color: white;
}

#serie{border: 10px solid black;}
#tomo{border: 10px solid white;}

#tomo:hover{
  box-shadow: inset 0 0 0 13px white;
}

/*PRODUCTO*/

#sub-win{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  overflow: scroll;
  text-align: left;
  padding: 0;
}

#producto-content{
  background-color: var(--azul);
  color: white;
  margin: 2% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 2px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  animation: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {transform: translateY(20px); opacity: 0}
  to {transform: translateY(0px); opacity: 1}
}

.show{
  display: block !important;
}

.producto-info{
  display:grid;
  grid-template-rows: auto auto;
  grid-template-columns: 35% auto;
  font-size: 1.5rem;
  border-bottom: solid 2px white;
  padding-bottom: 20px;
}

.producto-info p{
  margin-bottom: 1rem;
}

.producto-info img{
  width: 20vw;
  justify-self: center;
  margin-top: 10px;
  border: 3px solid #888;
}

.producto-info div{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#close,.btn-menos,.btn-borrar{
  background-color: rgb(209, 23, 23);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#close,.btn-menos{
  font-size: 15px;
  float: right;
  border-radius: 100%;
  padding: 10px 15px;
  width: 40px;
}

.btn-borrar{font-size: 2rem;}



#close:hover,.btn-menos:hover,.btn-borrar:hover{
  color: black;
  background-color: rgb(240, 78, 78);
  text-decoration: none;
  transition: all 0.5s;
}



footer{
  background-color: var(--rosa);
  padding: 20px;
  margin: 0;
  color: white;
  text-align: center;
}

footer p{
  font-size: 2rem;
}


/*CARRITO----------------------*/
#carrito-boton{
  color: white;
  background-color: var(--verde);
  font-size: 5rem;
  display: block;
  position: fixed;
  padding: 10px 20px;
  border-radius: 50%;
  right: 5px;
  bottom: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

#carrito-boton:hover{
  background-color: var(--rosa);
  transform: translate(0,-5px);
}

.manga-carrito{
  margin-top: 10px;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 60% 35% 5%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  animation: animatetop;
  animation-duration: 0.4s;
}

.manga-carrito:hover{
  background-color: #008B5B;
  transition: all 0.5s;
}

form{
  display: grid;
  grid-template-columns: 30% 70%;
  row-gap: 10px;
}

input[type=submit]{
  grid-column: 1/3;
}

#carrito-botones{
  display: grid;
  grid-template-columns: 70% auto;
  align-items: center;
}

