:root{
  --verde: #008B5B;
  --amarillo: #FBD72D;
  --rosa: #C12362;
  --azul: #01303E;
  --verde-2: #05F087;
  font-size: 10px;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
}
